html, body {
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  min-width: 400px;
}

#ville {
  text-transform: capitalize;
  font-size: xx-large;
}

#temperature {
  font-size: 4em;
}

#changer {
  background: rgba(178, 223, 251, .3);
  cursor: pointer;
  border-radius: 10px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 10px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-center {
  color: white;
  padding-bottom: 13px;
}

.container {
  font-size: x-large;
  padding-top: 25px;
}
